.button {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: darkgray;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

#usernameContainer, #chatContainer {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

#messages li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#messages li:nth-child(odd) {
  background: #efefef;
}

#form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.15);
}

#input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#typingIndicator {
  font-style: italic;
  color: #666;
  margin-top: 5px;
}
